* {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
      }
      body{
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        background-image: url(images/opacitylogo.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: clamp(100px, 80%, 100%);
        background-position: center;
        

      }
      nav {
        background: rgba(19, 22, 26, 0.6);
        height: 15%;
        width: 100%;
        position: sticky;
      }
      label.logo {
        color: aliceblue;
        font-size: 35px;
        line-height: 80px;
      }
      nav ul {
        float: right;
        margin-right: 20px;
      }
      nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a {
        color: aliceblue;
        font-size: 20px;
      }
      .checkbtn {
        font-size: 30px;
        color: aliceblue;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check {
        display: none;
      }
      @media (max-width: 952px) {
        label.logo {
          font-size: 30px;
          padding-left: 50px;
        }
        nav ul li a {
          font-size: 16px;
        }
      }
      @media (max-width: 858px) {
        .checkbtn {
          display: block;
        }
        ul {
          position: fixed;
          width: 100px;
          height: 100vh;
          background: rgba(20, 22, 26, 0.6);
          top: 80px;
          left: -100px;
          text-align: center;
          transition: all 0.5s;
        }
        nav ul li {
          display: block;
        }
        nav ul li a {
          font-size: 20px;
        }
        #check:checked ~ ul {
          left: 0;
        }

        ul li a:hover {
          color: blue;
          transition: all ease 0.2s;
        }
        a.active,
        a:active {
          color: blue;
        }
      }

      ul li a:hover {
        border-bottom: 2px solid yellow;
        transition: all ease 0.2s;
      }
      a.active,
      a:active {
        border-bottom: 2px solid yellow;
        transition: all ease 0.2s;
      }
      .container{
            max-width: 1170px;
            
        }
        footer{
            box-sizing: border-box;
            width: 100%;
            font-size: clamp(0.8125rem, 0.6563rem + 0.5vw, 0.9375rem); 
            position: relative;
            top: 100%;
              
          }
        .copyright{
            text-align: center;
            border-top: 2px solid white;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            
        }
        .footer-col{
            width: 25%;
            padding: 0 15px;
            
        }
        h4{
            border-bottom: 1px solid;
        }
        .ms-image{
          width: 300px;
          height: 200px;
          justify-content: center;
          margin: auto;
          display: grid;
        }
        .historyimg{
          width: 320px;
          height: 200px;
          justify-content: center;
          margin: auto;
          display: grid;
        }